@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4c4948;
    padding-top: 120px;
    min-width: 1400px;
}

/*fixed*/
div#fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #ffffffd8;
}

/*header*/
div#header_wrap {
    margin: 0 auto;
    width: 1300px;
    height: 120px;
    padding: 45px 0;
    box-sizing: border-box;
    position: relative;
}

div.header a.logo {
    position: absolute;
    top: 40px;
    left: 0;
}

ul.top_link {
    position: absolute;
    top: 45px;
    right: 0;
}

ul.top_link>li {
    float: left;
}

ul.top_link>li>a {
    display: block;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    background-color: #878787;
    color: #1f1f1f;
    border-radius: 13px;
}

ul.top_link>li>a:hover {
    background-color: #015846;
    /* background-color: #f3716d; */
}

div.header_link {
    text-align: center;
}

ul.gnb {
    display: inline-block;
}

ul.gnb>li {
    float: left;
}

ul.gnb>li>a {
    display: block;
    color: #878787;
    margin: 0 20px;
    padding: 0 7px 50px;
}

ul.gnb>li>a:hover,
ul.gnb>li>a.on {
    /* color: #f3716d; */
    color: #015846;
}

/*공통*/
p.banner_title {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 5px #262626;
}
p.banner_sub{
    text-shadow: 2px 2px 5px #262626;
}
p.category_sub{
    padding: 25px 0;
}
p.category_line{
    width: 20px;
    height: 1px;
    background-color: #4c4948;
    display: inline-block;
    margin-bottom: 100px;
}

/*main*/
div#main_wrap {
    background: url(../image/sub1_brand-stroy/main/main_background.jpg) no-repeat top center;
    height: 1153px;
}
div#main {
    margin: 0 auto;
    width: 1300px;
    position: relative;
}
div.main_left_slogan {
    position: absolute;
    top: 378px;
    left: 164px;
    z-index: 15;
}
div.main_text {
    background-color: #f5f3f2;
    width: 530px;
    height: 270px;
    padding: 35px 30px;
    box-sizing: border-box;
    text-align: center;
    font-family: Noto Sans KR;
    position: absolute;
    top: 390px;
    left: 219px;
}
p.main_text_title {
    font-size: 20px;
    padding-bottom: 23px;
    border-bottom: 1px solid #4c4948;
}
p.main_text_sub {
    padding-top: 20px;
}
div.main_left_pic {
    position: absolute;
    top: 680px;
    left: 0;
}
div.main_right{
    overflow: hidden;
}
div.main_right_pic {
    position: absolute;
    top: 150px;
    right: 110px;
}
div.main_right_logo {
    position: absolute;
    top: 675px;
    right: 0px;
    overflow: hidden;
}
img.wood{
    width: 80%;
}
div.main_right_tag {
    position: absolute;
    top: 883px;
    right: 110px;
    display: inline-block;
}


/* div.us_circle{
    animation: ani 5s linear infinite;
}

@keyframes ani{
    0%{
        transform: rotate(0deg);    
    }
    100%{
        transform: rotate(360deg);
    }
} */



/*scroll*/
div#scroll_wrap {
    background: url(../image/sub1_brand-stroy/scroll/scroll_01.jpg);
    background-color: #262626;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 650px;
}
div.scroll {
    margin: 0 auto;
    width: 1300px;
}
div.scroll::before {
    content: '';
    width: 0;
    height: 340px;
    display: inline-block;
}
div.banner_text {
    vertical-align: middle;
    display: inline-block;
    color: #fff;
}

/*our-culture*/
div#our-culture_wrap{
    background-color: #eae5e3;
    height: 1240px;
}
div.our-culture{
    margin: 0 auto;
    width: 1300px;
    text-align: center;
    padding: 150px 0;
    box-sizing: border-box;
}
ul.our-culture_list{
    text-align: left;
}
ul.our-culture_list> li{
    float: left;
    width: 420px;
    filter: grayscale(100%);
}
ul.our-culture_list> li:nth-child(2){
    margin: 0 20px;
}
div.our-culture_list_pic{
    background-color: #000;
    overflow: hidden;
}
div.our-culture_list_pic img{
    display: block;
    opacity: 50%;
    width: 100%;
    transform: scale(1.0);
    transition: opacity 0.5s;
    transition: transform 0.5s;
}
p.our-culture_list_title{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    padding: 30px 0 20px;
    /* transition: font-size 0.5s; */
}
ul.our-culture_list> li:hover{
    filter: grayscale(0);
}
ul.our-culture_list> li:hover p.our-culture_list_title{
    /* color: #f3716d; */
    color: #015846;
    /* font-size: 24px; */
}
ul.our-culture_list> li:hover div.our-culture_list_pic img{
    opacity: 100%;
    transform: scale(1.05);
}

/*banner*/
div#banner_wrap{
    background: url(../image/sub1_brand-stroy/banner/banner.jpg);
    height: 280px;
    /* background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; */
}
div#banner{
    margin: 0 auto;
    width: 1300px;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
}

/*wood*/
div#wood{
    margin: 0 auto;
    width: 1300px;
    height: 2006px;
    padding: 150px 0;
    box-sizing: border-box;
    text-align: center;
}
ul.wood_list> li{
    float: left;
    width: 420px;
    height: 505px;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    transform: scale(1);
    transition: transform 0.5s;
    box-shadow: 2px 2px 5px #4c49482c;
}
ul.wood_list> li:hover{
    transform: scale(1.02);
    box-shadow: 3px 3px 15px #4c49486e;
}
ul.wood_list> li:nth-child(2),
ul.wood_list> li:nth-child(8){
    margin: 0 20px;
}
ul.wood_list> li:nth-child(4),
ul.wood_list> li:nth-child(6){
    margin: 20px 0;
}
ul.wood_list> li:nth-child(5){
    margin: 20px;
}
div.wood_list_maintext{
    float: left;
    padding-left: 15px;
}
div.wood_content{
    float: right;
    font-size: 12px;
    line-height: 18px;
}
p.wood_content_text{
    height: 105px;
    width: 300px;
    padding-top: 16px;
    box-sizing: border-box;
}
p.wood_content_title{
    color: #fff;
    position: absolute;
    top: 455px;
    right: 40px;
    font-size: 14px;
}

/*contact*/
div#contact_wrap{
    background: url(../image/sub1_brand-stroy/contact/contact_background.jpg) no-repeat top center;
    height: 700px;
    background-color: #f5f3f2;
}
div#contact{
    margin: 0 auto;
    width: 1300px;
}
div.contact_title{
    width: 750px;
    float: right;
    text-align: center;
    padding: 100px 50px 0 50px;
    box-sizing: border-box;
}
p.contact_title_text{
    font-size: 28px;
}
p.contact_title_text span{
    color: #015846;
    font-weight: bold;
}
p.contact_title_sub{
    font-size: 14px;
    padding: 20px 0 50px;
}

div.contact_content{
    width: 750px;
    float: right;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 12px;
}
ul.form_title{
    float: left;
    width: 62px;
}
ul.form_title li{
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #015846;
    font-size: 14px;
    font-weight: bold;
}

ul.form_content{
    float: right;
    width: 585px;
    /* font-size: 18px; */
}
ul.form_content li{
    margin: 0 0 5px 0;
}
ul.form_content li option,
ul.form_content li input,
ul.form_content li select,
ul.form_content li textarea{
    height: 30px;
    width: 30%;
    padding: 3px 0 0 3px;
    margin-left: 13px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #dddddd;
    /* font-size: 12px;
    font-family: 'Noto Sans KR';
    padding: 5px;
    box-sizing: border-box; */
}

ul.form_content li:nth-child(5) input{
    width: 98%;
}

ul.form_content li textarea{
    width: 573px;
    height: 124px;
    /* border: 1px solid #dddddd; */
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    display: inline-block;
}
.filebox .upload-name {
    display: inline-block;
    height: 30px;
    padding: 3px 0 0 3px;
    vertical-align: middle;
    border-bottom: 1px solid #dddddd;
    width: 469px;
    box-sizing: border-box;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 3px 0;
    color: #fff;
    /* vertical-align: middle; */
    background-color: #015846;
    cursor: pointer;
    height: 30px;
    width: 90px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 10px;
}

ul.form_send{
    clear: both;
    float: right;
    margin-top: 20px;
}
ul.form_send li{
    float: left;
}
ul.form_send li input{
    display: inline-block;
    margin-left: 5px;
    width: 90px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #015846;
}
ul.form_send li:nth-child(1) input{
    background-color: #015846;
    color: #fff;
}

.form_content li select option{
    background-color: transparent;
}

/*footer*/
div#footer_wrap{
    background: url(../image/footer/footer_background.jpg) no-repeat top center;
    height: 196px;
    background-color: #002d23;
}
div#footer{
    margin: 0 auto;
    width: 1300px;
    box-sizing: border-box;
    position: relative;
}
div.footer_link_wrap a.logo{
    position: absolute;
    top: 30px;
    left: 0;
}
ul.footer_sns{
    position: absolute;
    top: 30px;
    right: 0;
}
ul.footer_sns> li{
    float: left;
    margin-left: 10px;
}
ul.footer_sns> li a{
    opacity: 70%;
}
ul.footer_sns> li a:hover{
    opacity: 100%;
}
div.footer_nav_wrap{
    text-align: center;
    padding: 20px 0;
}
ul.footer_nav> li::before{
    content: '';
    width: 1px;
    height: 12px;
    background-color: #fff;
    display: inline-block;
    vertical-align: 0px;
    margin: 0 20px;
}
ul.footer_nav> li:nth-child(1)::before{
    display: none;
}
ul.footer_nav{
    display: inline-block;
    padding: 15px 0;
}
ul.footer_nav> li{
    float: left;
}
ul.footer_nav> li> a{
    display: inline-block;
    color: #fff;
    margin: 0 20px;
}
ul.footer_nav> li> a:hover{
    color: #f3716d;
}
div.footer_infor{
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin: 0 auto;
    width: 1300px;
}
p.footer_infor_left{
    float: left;
    color: #fff;
}
ul.footer_infor_right{
    float: right;
}
ul.footer_infor_right> li{
    float: left;
    margin-left: 20px;
    color: #fff;
}
ul.footer_infor_right >li::after{
    content: '';
    width: 1px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    vertical-align: 1px;
    margin-left: 20px;
}
ul.footer_infor_right> li:nth-child(3):after{
    display: none;
}
