@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4c4948;
    padding-top: 120px;
    min-width: 1400px;
}

/*fixed*/
div#fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #ffffffd8;
}

/*header*/
div#header_wrap {
    margin: 0 auto;
    width: 1300px;
    height: 120px;
    padding: 45px 0;
    box-sizing: border-box;
    position: relative;
}

div.header a.logo {
    position: absolute;
    top: 40px;
    left: 0;
}

ul.top_link {
    position: absolute;
    top: 45px;
    right: 0;
}

ul.top_link>li {
    float: left;
}

ul.top_link>li>a {
    display: block;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    background-color: #878787;
    color: #1f1f1f;
    border-radius: 13px;
}

ul.top_link>li>a:hover {
    background-color: #015846;
    /* background-color: #f3716d; */
}

div.header_link {
    text-align: center;
}

ul.gnb {
    display: inline-block;
}

ul.gnb>li {
    float: left;
}

ul.gnb>li>a {
    display: block;
    color: #878787;
    margin: 0 20px;
    padding: 0 7px 50px;
}

ul.gnb>li>a:hover,
ul.gnb>li>a.on {
    /* color: #f3716d; */
    color: #015846;
}

/*공통*/
p.banner_title {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 5px #262626;
}

p.banner_sub {
    text-shadow: 2px 2px 5px #262626;
}

p.category_sub {
    padding: 25px 0;
}

p.category_line {
    width: 20px;
    height: 1px;
    background-color: #4c4948;
    display: inline-block;
    text-align: center;
    margin-bottom: 100px;
}

p.main-category_line {
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: 20px 0 30px;
    text-shadow: 2px 2px 5px #262626;
}

p.main-category_sub {
    font-size: 18px;
    text-shadow: 2px 2px 5px #262626;
}

/*main*/
div#main_wrap {
    background: url(../image/sub4_community/main/main_background.png) no-repeat top center;
    height: 730px;
}

div#main {
    margin: 0 auto;
    width: 1300px;
    text-align: center;
    color: #fff;
}

div#main::before {
    content: '';
    width: 1px;
    height: 280px;
    vertical-align: middle;
    display: inline-block;
}

/*event*/
div#event {
    margin: 0 auto;
    width: 1300px;
    overflow: hidden;
    text-align: center;
    padding: 150px 0;
    box-sizing: border-box;
}

ul.event_list {
    width: 100%;
}

ul.event_list li {
    float: left;
    position: relative;
    margin: 0 20px 30px 0;
    box-sizing: border-box;
}

ul.event_list li:nth-child(2),
ul.event_list li:nth-child(4),
ul.event_list li:nth-child(6) {
    margin-right: 0;
}

ul.event_list li:nth-child(3) div h1 {
    text-align: left;
    padding: 65px 0 0 80px;
}

div.event_list_pic {
    overflow: hidden;
    border-radius: 25px;
    background-color: #000;
}

div.event_list_pic img {
    display: block;
    transform: scale(1);
    opacity: 100%;
    transition: all 0.5s;
}

ul.event_list li:hover div.event_list_pic img{
    transform: scale(1.05);
    opacity: 30%;
}

ul.event_list li:hover div.event_list_text {
    display: block;
    transform: translateY(0px);
}

div.event_list_text {
    border-radius: 25px;
    width: 640px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    box-sizing: border-box;
    display: none;
    transform: translateY(100px);
    transition: transform 0.5s;
}

p.event_list_text_sub {
    display: inline-block;
    padding-top: 100px;
    border-bottom: 1px solid #fff;
}

p.event_list_text_date {
    font-size: 24px;
    padding-top: 15px;
}

h1.event_list_text_title {
    font-size: 63px;
    padding-top: 10px;
    line-height: 75px;
}

h1.event_list_text_title span {
    color: #f08300;
}

p.event_list_text_date span {
    font-size: 10px;
    display: inline-block;
}

p.event_list_text_content_title {
    font-size: 22px;
    padding: 20px 0 10px;
    color: #015846;
    font-weight: bold;
}

div.close {
    font-size: 24px;
    padding-top: 130px;
}

div.close p {
    padding-top: 20px;
}


/*footer*/
div#footer_wrap {
    background: url(../image/footer/footer_background.jpg) no-repeat top center;
    height: 196px;
    background-color: #002d23;
}

div#footer {
    margin: 0 auto;
    width: 1300px;
    box-sizing: border-box;
    position: relative;
}

div.footer_link_wrap a.logo {
    position: absolute;
    top: 30px;
    left: 0;
}

ul.footer_sns {
    position: absolute;
    top: 30px;
    right: 0;
}

ul.footer_sns>li {
    float: left;
    margin-left: 10px;
}

ul.footer_sns>li a {
    opacity: 70%;
}

ul.footer_sns>li a:hover {
    opacity: 100%;
}

div.footer_nav_wrap {
    text-align: center;
    padding: 20px 0;
}

ul.footer_nav>li::before {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #fff;
    display: inline-block;
    vertical-align: 0px;
    margin: 0 20px;
}

ul.footer_nav>li:nth-child(1)::before {
    display: none;
}

ul.footer_nav {
    display: inline-block;
    padding: 15px 0;
}

ul.footer_nav>li {
    float: left;
}

ul.footer_nav>li>a {
    display: inline-block;
    color: #fff;
    margin: 0 20px;
}

ul.footer_nav>li>a:hover {
    color: #f3716d;
}

div.footer_infor {
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin: 0 auto;
    width: 1300px;
}

p.footer_infor_left {
    float: left;
    color: #fff;
}

ul.footer_infor_right {
    float: right;
}

ul.footer_infor_right>li {
    float: left;
    margin-left: 20px;
    color: #fff;
}

ul.footer_infor_right>li::after {
    content: '';
    width: 1px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    vertical-align: 1px;
    margin-left: 20px;
}

ul.footer_infor_right>li:nth-child(3):after {
    display: none;
}